:root {
	--color-main: #007bff;
	--color-main-dark: #142049;
	--color-main2: #9696BB;
	--color-secondary: #FF606D;
	--color-default: #131336;
	--color-default2: #C9CFDE;
	--color-default3: #D5DAE5;
	--color-default4: #F5F5FB;
	--color-success: #3aa757;
	--color-error: #EA4335;
	--color-warning: #ead835;

	--grid-gap: 35px;

	--font: 'Roboto', sans-serif;
}